{% extends 'base.html' %}

{% block nav_home %}active{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-lg-12">
			<div class="bs-component">
				<div class="jumbotron">
					<h1 class="display-3">IMDetector</h1>
					<p class="lead">Image Manipulation Detector for scientific papers.</p>
					<hr class="my-4">
					<h4 class="text-success">Upload your file to start!</h4>
					<p>Image file (.jpg, .png, or .tif), Zip file of images (.zip) are acceptable.</p>
					<form action="progress" method="POST" enctype="multipart/form-data" class="form-control-file">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-success btn-lg">Submit</button>
					</form>
{#					<p class="lead">#}
{#					<a class="btn btn-secondary btn-lg" href="about" role="button">Learn more -></a>#}
{#					</p>#}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
