{% extends 'base.html' %}

{% block nav_home %}active{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-lg-12">
			<div class="bs-component">
				<div class="jumbotron">
					<h1 class="display-3">IMDetector</h1>
					<p class="lead">Image Manipulation Detector for scientific papers.</p>
					<hr class="my-4">
					<h4 class="text-success">Upload your file to start!</h4>
					<p>Image file (.jpg, .png, or .tif), Zip file of images (.zip), or PDF file (.pdf) are acceptable.</p>
					<form action="progress" method="POST" enctype="multipart/form-data" class="form-control-file">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-success btn-lg">Submit</button>
					</form>
{#					<p class="lead">#}
{#					<a class="btn btn-secondary btn-lg" href="about" role="button">Learn more -></a>#}
{#					</p>#}
				</div>
			</div>
		</div>
	</div>
</div>

{#<div class="bs-docs-section">#}
{#	<div class="row">#}
{#		<div class="col-lg-12">#}
{#			<div class="page-header">#}
{#				<h1 id="upload">Upload your image to start!</h1>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<div class="row">#}
{#		<div class="col-lg-12">#}
{#			<div class="bs-component">#}
{#				<div class="card border-primary mb-3" style="border-style: dashed; text-align: center">#}
{#					<div class="card-body mb-3">#}
{#						<p></p>#}
{#						<p class="lead">Image file (.jpg, .png, or .tif), Zip file of images (.zip), or PDF file (.pdf) are acceptable.</p>#}
{#						<h4 class="card-title">Drag and drop your files here</h4><span class="glyphicon glyphicon-open" aria-hidden="true"></span>#}
{#						<p>or</p>#}
{#						<form action="result" method="POST" enctype="multipart/form-data" class="form-control-file">#}
{#						{% csrf_token %}#}
{#						{{ form }}#}
{#						<button type="submit" class="btn btn-success btn-lg">Submit</button>#}
{#						</form>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}

<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-body">
					<h2 class="card-title text-primary">Clipping</h2>
					<h6 class="card-subtitle text-muted">Support card subtitle</h6>
				</div>
				<img style="height: 200px; width: 100%; display: block;" src="" alt="Card image">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-body">
					<h2 class="card-title text-primary">Copy-Move</h2>
					<h6 class="card-subtitle text-muted">Support card subtitle</h6>
				</div>
				<img style="height: 200px; width: 100%; display: block;" src="" alt="Card image">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-body">
					<h2 class="card-title text-primary">Cut-Paste</h2>
					<h6 class="card-subtitle text-muted">Support card subtitle</h6>
				</div>
				<img style="height: 200px; width: 100%; display: block;" src="" alt="Card image">
				<div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>
		</div>
	</div>
</div>


<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header" style="padding-bottom: 50px">
				<h1 id="upload">Change history</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					2020/xx/xx  Release Ver 1.0
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header" style="padding-bottom: 50px">
				<h1 id="upload">Tutorial videos</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3V2LTNi4dx4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
{% endblock %}
