[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
scipy = "*"
seaborn = "*"
pdfminer-six = "*"
chardet = "*"
scikit-image = "*"
tornado = "==5.1.1"
scikit-learn = "*"
opencv-contrib-python = "<3.4.5"
opencv-python = "<=3.4.5"
img2pdf = "*"
joblib = "*"
cython = "*"
pandas = "*"
numba = "*"

[requires]
python_version = "3.7"
