[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
matplotlib = "==3.0.3"
pdfminer-six = "*"
chardet = "*"
tornado = "==5.1.1"
scikit-learn = "*"
opencv-contrib-python = "<3.4.5"
opencv-python = "<3.4.8"
pandas = "*"
django = "*"
scipy = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
